version: "3.9"

services:
  llm-api:
    build: .
    container_name: llmops-gemini
    ports:
      - "8001:8001"
    env_file:
      - .env
    restart: unless-stopped
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
